
<link href="{{url_for('static',filename='responsive_style.css') }}" rel="stylesheet">

<div class="body"></div>
    <div class="grad"></div>
    <div class="header">
    <div>User<span>Governance</span></div>
    </div>
    <br>
    <form method="POST" action="/theform">
    <div class="login">
        <input type="text" placeholder="username" name="user"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="button" value="Login">
    </form>
    </div>
